:root {
  --global-color-primary: #c70b15;
  --global-color-secondary: #D8281C;
  --global-color-light: #f6f7f8;
  --global-color-gray: #565758;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('/fonts/Oswald-Medium.ttf') format('truetype');
}

body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: var(--global-color-primary);
}
